.list{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.list .list.title{
    padding: 28px;
    border-bottom: 1px solid gainsboro;
}
.list .list.content{
    display: flex;
    justify-content: center;
    flex-wrap: nowrap;
    width: 380px;
    padding: 28px 0;
    border-bottom: 1px solid gainsboro;
}